In [26]:
import pandas as pd
import numpy as np
from tokenizers import BertWordPieceTokenizer
import os

In [7]:
df = pd.read_csv('dataset/train.csv')

In [8]:
print(f'Null data: \n{df.isnull().sum()}\n')
print('Which index is null: \n{}'.format(np.where(df.isnull())))

Null data:
id              0
qid1            0
qid2            0
question1       1
question2       2
is_duplicate    0
dtype: int64

Which index is null:
(array([105780, 201841, 363362], dtype=int64), array([4, 4, 3], dtype=int64))

In [9]:
df = df.dropna()
df.reset_index(inplace=True, drop=True)

In [10]:
print(f'Null data: \n{df.isnull().sum()}\n')
print('Which index is null: \n{}'.format(np.where(df.isnull())))

Null data:
id              0
qid1            0
qid2            0
question1       0
question2       0
is_duplicate    0
dtype: int64

Which index is null:
(array([], dtype=int64), array([], dtype=int64))

In [11]:
print(f'Total data: \n{len(df)}\n')

Total data:
404287

In [25]:
bpe_path = f'BPE/'
if not os.path.exists(bpe_path):
    os.makedirs(bpe_path)
f = open(bpe_path + '/tokenized.txt', 'w', encoding='utf-8')
for i in df.question1.to_list() + df.question2.to_list():
    f.write(i)
    f.write('\n')
f.close()

In [27]:
tokenizer = BertWordPieceTokenizer()

In [30]:
tokenizer.train(bpe_path + '/tokenized.txt', vocab_size=30000)

In [32]:
tokenizer.save_model(bpe_path)

['BPE/vocab.txt']

In [42]:
test = BertWordPieceTokenizer(bpe_path + '/vocab.txt')

In [40]:
test.encode("I'am Crazy Man!!!").tokens

['[CLS]', 'i', "'", 'am', 'crazy', 'man', '!', '!', '!', '[SEP]']

In [41]:
test.encode("I'am Crazy Man!!!").ids

[2, 51, 11, 1563, 6924, 1588, 5, 5, 5, 3]